
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- Header -->

    <!-- /Header -->
    <!-- Sidebar -->

    <!-- /Sidebar -->
    <!-- Page Wrapper -->
   
<div class="login-box">
    <div class="login-logo">
        <a href=""><b class="text-white">XYZ&nbsp;&nbsp;Company</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body align-items-center">
            <p class="login-box-msg">Sign in to start your Activities</p>
            <p class="mb-3">
                <a class="btn btn-success" asp-area="Identity" asp-controller="Account" asp-action="Login">Login Now</a>
            </p>

            <p class="mb-3">
                <a class="btn btn-info" asp-area="Identity" asp-controller="Account" asp-action="Register">Register a new membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

